<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/styles/content.css">
    <link rel="icon" href="/images/kestrel.png">
    <title>Kestrel Dictionary: Edit <%= dictionary.word %></title>
</head>
<body>
    <div id="topContainer">
            <h1 class="title">Kestrel Dictionary</h1>
    
                <h1>What's up bro?</h1>
    
            <a href="/auth/logout">Logout?</a>

            <a href="/dictionary/<%=dictionary.id%>">Go Back</a>
    </div>
    <br><br>
    <div id="form">
        <h2 class="subheader">Edit That Word!</h2>
        <form action="/dictionary/<%= dictionary.id %>?_method=PUT" method="POST">
            <input type="text" name="word" value="<%= dictionary.word %>" />
            <input type="text" name="definition" value="<%= dictionary.definition %>" />
            <input type="text" name="usage" value="<%= dictionary.usage %>" /><br>
            <input id="add" type="submit" value="Update" />
        </form>
    </div>
</body>
</html>