<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/styles/content.css">
    <link rel="icon" href="/images/kestrel.png">
    <title>Kestral Dictionary: <%= dictionary.word %></title>
</head>
<body>
    <div id="topContainer">
        <h1 class="title">Kestrel Dictionary</h1>
            
        <h1>What's up bro?</h1>
            
        <a href="/auth/logout">Logout?</a>
        <a href="/dictionary">Go Back</a>
    </div>

    <br><br><br>

    <div class="word">

        <h2 class="header"><%= dictionary.word %></h2>

        <p>
            <span class="subheader">Definition</span> <br>
            <span class="content"><%= dictionary.definition %></span> <br>
            <br>
            <span class="subheader">Usage</span> <br> 
            <span class="content"><%= dictionary.usage %></span>
        </p>

        <a href="/dictionary/<%=dictionary.id%>/editWord">Edit the Word?</a>
        
        <br><br>

        <form class="delete" action="/dictionary/<%=dictionary.id%>?_method=DELETE" method="POST">
            <input type="submit" value="Delete"/>
        </form>
    </div>
</body>
</html>